.subtotal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 19px;
    
    width: 20vw;
    border: 3px solid #dddddd;
    background-color: #f3f3f3;
}

.subtotal button{
    margin-top: 22px;
}

.subtotal-gift{
    margin-left: -2px;
}